<?xml version="1.0" ?>
<launch>

	<!-- ARGS -->
	<arg name="ns_setup" default="setup1"/>
	<arg name="ip_robot" default="192.168.131.200" doc="abb robot IP address"/>

	<arg name="ip_gripper" default="192.168.125.101" doc="onrobot device IP address"/>


	<group ns="$(arg ns_setup)">
		<param name="tf_prefix" value="$(arg ns_setup)"></param>
		<param name="robot_description" textfile="$(find gofa_description)/urdf/gofa.urdf" />
		<param name="ip_robot" 	 value="$(arg ip_robot)" />
    	<param name="name_robot" value="ROB_1" />
    	<param name="task_robot" value="T_ROB1" />
    	<param name="pos_corr_gain" value="1" />
    	<param name="max_speed_deviation" value="300" />
    	<param name="port_robot" value="443" />
  		<param name="robot_port_number" value="6511" />
  		<param name="root_name" value="base" />
  		<param name="tip_name" value="tool0" />


  		<param name="ip" value="$(arg ip_gripper)"/>
		<param name="model" value="twofg"/>
		<param name="gripper_closure_topic" value="not_used"/>

	    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	    <node pkg="abb_driver" name="abb_interface" type="abb_interface_node" output="screen"/>
  		<node pkg="abb_driver" name="controller_bridge" type="controller_bridge_node" output="screen"/>
  		<node pkg="abb_controllers" name="OneTaskInvKin" type="OneTaskInvKin_node" output="screen"/>

  		<node pkg="onrobot_driver" name="onrobot_interface" type="onrobot_interface.py" output="screen"/>

		<!-- RPWC BRIDGE -->
    	<node pkg="rpwc_bridge" name="abb_bridge" type="abb_bridge_node" output="screen"/>
    	<node pkg="rpwc_bridge" name="onrobot_twofg_bridge" type="onrobot_twofg_bridge_node" output="screen"/>


	</group>

</launch>